{% extends 'base.html' %}

{% block content %}
<section class="padding-y">
    <div class="container">
        <h3 class="mb-3">Home</h3>
        <p class="text-muted">{{ products_count }} items found</p>
        <div class="row">
            {% for product in products %}
            <div class="col-md-3 mb-3">
                <div class="card card-product-grid">
                    <a href="{% url 'product_detail' product.id %}" class="img-wrap">
                        <img src="{{ product.images.url }}" alt="{{ product.product_name }}">
                    </a>
                    <figcaption class="info-wrap">
                        <a href="{% url 'product_detail' product.id %}" class="title">{{ product.product_name }}</a>
                        <div class="price mt-1">₮ {{ product.price }}</div>
                    </figcaption>
                </div>
            </div>
            {% empty %}
            <div class="col-12"><em>No products available.</em></div>
            {% endfor %}
        </div>
    </div>
    </section>
{% endblock %}


